.testimonial-card {
    width: 350px;
    height: 350px;
    text-align: center;
    background-color: #354C80;
    border-radius: 20px;
    padding: 40px 20px;
}

.testimonial-card h3, 
.testimonial-card h4{
    color: #fff;
}

.testimonial-card p {
    font-size: 16px;
    color: #989EB9;
}