
.testimonial {
    padding: 142px 142px;
    background: linear-gradient(#29346F, #11184F);
}

.testimonial h2 {
    font-size:36px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}


.owl-div {
    margin-top: 131px;
}
  